# Database connection
DATABASE_URL=postgresql://neondb_owner:npg_1vQLu5bYplBo@ep-shiny-dew-a4ctwemu-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_key_here

# Replace with your actual domain in production
NEXT_PUBLIC_BASE_URL=http://localhost:3000
